.header{
        background-color: aqua;
        display: flex;
        font-style: oblique;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:xx-large;
        font-weight: 200;
justify-content: right;
transition: width 2s;
}
.header:hover img{
    transform:matrix(1,2);
    width:800px;
    height:560px;
}

h1{
    justify-content:space-evenly;
    color:#43dfb2c9
}
.body{
    display:flexbox;
    
    background-color: chartreuse;
background-blend-mode: color-dodge;
font-style: oblique;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
font-size:xx-large;
font-weight: 200;
}
h2{
  
    justify-content:space-evenly;
    color:crimson
}
.function{
    display:flexbox;
    background-color:mediumblue;
    font-size: xx-large;
    font-weight: 500;
    font-family:cursive;
    font-style:italic;
}
.grid{
    display:flexbox;
background-color:yellow;

}
.grid:hover img{
    transform: scale(1.1,1);
}
.video{
    display:grid;
    background:violet;
    text-decoration: tomato;
}
.footer{
    display:block;
    background-color:coral;
    text-shadow: aqua;
    font-size:large;
    
}
.footer:hover{
    transform: scale(1,2);
}

.t1{
    display:flexbox;
    background-color:indigo;
    text-decoration: rgb(118, 226, 30);
}
h4{
    justify-content: space-evenly;
    font-size: xx-large;
    color:lawngreen
}
.t2{
    display:flexbox;
    background-position: initial;
    background-color: rgb(187, 25, 152);
}
.t3{
    display:flexbox;
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/01/19/231811/3229c4a4a8c6f5d357b3df34440cccc9-700.jpg");
}
a:link{
color:aqua
}
a:visited{
    color:black
}
a:hover{
    color:azure;

}    
